body
{	
	background-image: url("background.gif");
	border:10px solid white;
	position: center;
	margin-left: 10%;
	margin-right: 10%;
}
.body
{
	display: flex;
	flex-direction:column;
	background: white;
}
.heading
{	
	text-align: right;
	border: 5px solid #A8F0F0;
	background-color: #A8F0F0;
}
.heading #so 
{
	font-size:14pt;
	padding: 5px;
	margin: 5px;
}
.conbody
{
	display: flex;
	flex-direction: row;
	background: white;
}
.main
{
	border:4px solid #C2E9E9 ;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: auto;
}
#date
{
	border-bottom:2px dashed blue;
	width:110px;
	float:left;
}
.main2
{
	border:4px solid #C2E9E9;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: auto;
}
span
{
	color:green;
	background-color: yellow;
}
img
{
	float:right;
}
.friends
{
	border:4px solid white;
	background-color: #E8FBFB;
	padding: 5px;
	margin: 10px;
	border-bottom-width: 250px ;
}
